/* === 主题样色色调 === */

// 主文字
$theme-default: #666 !default;
// 备注信息
$theme-info: #999 !default;
// 禁用
$theme-disabeld: #ccc !default;
// 主要
$theme-main: #18b4ed !default;
$theme-main-deep: #1fbaf3 !default;
// 高亮
$theme-light: #ff8444 !default;
// 警告/错误
$theme-error: #f75549 !default;
$theme-error-low: #fc6156 !default;
$theme-error-deep: red !default;
// 正确
$theme-right: #65d521 !default;
// 板块说明
$theme-memo: #7cae23 !default;
// 分割线
$theme-border: 1px solid #ececec !default;


/* === 标签 lbl === */

$lbl-height: 1.8em !default;
$lbl-font-s: .8em !default;
$lbl-radius: 1em !default;
$lbl-radius-s: .2em !default;
$lbl-border: 1px solid $theme-disabeld !default;
$lbl-border-s: 1px solid $theme-light !default;
$lbl-color-s: $theme-light !default;
$lbl-margin: 0 .8em .8em 0 !default;
$lbl-padding: 0 1em !default;
$lbl-padding-s: 0 .4em !default;
$lbl-margin-s: 0 .4em .4em 0 !default;

/* ===  按钮 btn === */

$btn-bg: #fcfcfc !default;
$btn-border-color: #ddd !default;
$btn-border: 1px solid $btn-border-color !default;
// 普通按钮
$btn-color: $theme-main !default;
$btn-color-low: $theme-main !default;
$btn-color-deep: $theme-main-deep !default;
$btn-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, $btn-color-low), to($btn-color-deep)) !default;
$btn-bg-click: #f2f2f2 !default;
$btn-color-click: rgba(0, 165, 224, .5) !default;
// 警告、异常按钮
$btn-color-error: $theme-error !default;
$btn-color-error-low: $theme-error-low !default;
$btn-color-error-deep: $theme-error !default;
$btn-image-error: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, $btn-color-error-low), to($btn-color-error-deep)) !default;
$btn-bg-error-click: #e2574d !default;
$btn-color-error-click: rgba(255, 255, 255, .5) !default;
// 主色按钮
$btn-bg-base-click: #1ca7da !default;
$btn-color-base-click: rgba(255, 255, 255, .5) !default;
// 进度条
$btn-color-progress: $btn-color !default;
$btn-image-progress: $btn-image !default;
// 禁用按钮
$btn-bg-disabled: #e9ebec !default;
$btn-color-disabled: $theme-disabeld !default;
// 高宽控制
$btn-margin-bottom: .6em !default;
$btn-height-s: 1.8em !default;
$btn-height: 2.2em !default;
$btn-height-lg: 2.6em !default;
$btn-radius: .4em !default;
$btn-padding: 0 .8em !default;
$btn-progress-width: 5em !important !default;
$btn-font-size-s: .8em !default;

/* === 进度条 progress === */

$progress-bg: #e2e2e2 !default;
$progress-color: $theme-right !default;

/* === 表格 tables === */

$table-link-color: #00a5e0 !default;
$table-row-height: 2em !default;
$table-border: 1px solid #e0e0e0 !default;
$table-padding: .4em !default;

/* === 角标 sign === */

$sign-color: $theme-error-deep !default;
$sign-font-size: .88em !default;
$sign-width: 2.4em !default;
$sign-height: 1.4em !default;
$sign-radius: .4em !default;
$sign-translate-x: 50% !default;
$sign-translate-y: 50% !default;
$sign-round-s: .5em !default;
$sign-round-lg: 1.2em !default;
$sign-round: .8em !default;
$sign-round: 1em !default;

/* === 文本 === */
$txt-lg: 1.6em !default;
$txt-s: .8em !default;

/* === 列表表单 === */
$list-row-height: 2.6em !default;
$list-row-padding-lr: 1em !default;
$list-row-margin-lr: 1em !default;
$list-row-border: $theme-border !default;